/* imports */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
/* universal styles*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

#app {
  font-family: "IBM Plex Mono", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 2em;
}

.header {
  margin-bottom: 1em;
}

.header > h1 {
  text-align: left;
  padding-left: 2em;
}

/* editor styling */
.editor-container {
  display: none;
  flex-direction: column;
}

.text-editor {
  text-align: left;
  resize: none;
  width: 40vw;
  height: 35vh;
  padding: 1em;
  margin: 1em auto 2em auto;
  font-family: "IBM Plex Mono", Courier, monospace;
}

.app-button {
  width: 40vw;
  margin: auto auto 1em auto;
  font-size: 1.5em;
  padding: 0.2em 0;
  font-family: "IBM Plex Mono", Courier, monospace;
}

/*  notes styling */
.single-note-container {
  border: 1px solid rgba(180, 180, 180, 0.1);
  border-radius: 5px;
  box-shadow: 10px 10px 25px -10px rgba(180, 180, 180, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto auto 1em auto;
  width: 40%;
  min-height: 10vh;
  padding: 1em;
}

.note-text-container > *,
.note-text-container > * > * {
  text-align: left;
}

.note-text-container li {
  list-style-position: inside;
}

.date-time {
  font-style: italic;
  margin-top: 1em;
  font-size: 0.7em;
  font-weight: bold;
}

/* options buttons container styling */
.option-buttons-container > * {
  margin-top: 1em;
  text-align: right;
}

.edit-button {
  opacity: 0.5;
  cursor: pointer;
}

.edit-button:hover {
  opacity: 1;
}

.delete-button {
  opacity: 0.5;
  cursor: pointer;
}

.delete-button:hover {
  opacity: 1;
}
